html, body {
  margin: 0;
  height:100%;
}

*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App{
  width:100%;
}
.container{
  display:block;
  margin:auto;
  width:700px;
  max-width:100%;
}
.color-box{
  display:flex;
  padding:24px;

}

.flex{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-items:center;
  gap:16px;
  

}

.flex-box-color{
  flex:1;
  padding:24px;
  margin:16px;

}

.color-box{
  width:100%;
  margin-bottom:16px;
  padding:24px;
  
}

.color-box span{
  background-color:#fff;
  padding:8px;

}

h1{
  width:100%;
  text-align:center;
}

.flex-color-box .react-colorful {
  width: 150px;
  height: 150px;

}